
.flight-header {
    background-image: url('https://res.cloudinary.com/kinkidy/image/upload/v1581888784/juyonna_ui/fff.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}

.flight-header-bg {
  background-color: rgba(11, 1, 70, 0.71);
  width: 100%;
  height: 100%;
  padding-top: 36px;
}

.flight-header h1{
    margin:0 auto 12px auto;
    width: 285px;
    font-size: 24px;
}

.flight-header p {
    font-size: 12px;
    width: 285px;
    margin: 0 auto 23px auto;
    padding: 10px;
}

.flight-header button {
    margin-bottom: 74px;
}

  .flight-content {
    background: #ffffff;
  }

  .flight-content h2{
    color: #0B0146;
    width: 60%;
  }

.flight-content .flight-deals {
    padding-bottom: 420px;
}

.flight-content .sub-heading {
  color: #0B0146;
}

  .flight-bottom-heading{
    margin: 36px auto;
  }

.load-more-button {
  background-color:
#006CFF;
color:
#FFFFFF;
font-size: 12px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: 600;
border: none;
border-radius: 43px;
padding: 11px 40px 11px 30px;
margin: 20px auto 0 auto;
letter-spacing: 1px;
width: 60%;
}

  .flight-footer {
    background-image:url('https://res.cloudinary.com/kinkidy/image/upload/v1581490116/juyonna_ui/testimoial-bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .flight-form {
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0px 0px 24px #00000029; 
    margin: -400px auto 0 auto;
    width: 80%;
    padding-bottom: 60px;
  }
  
  .form-content   {
      padding: 44px 30px 0;
   }

  label {
    color:#1D1D1D;
    font-size: 12px;
    margin: 0;
  }

form p { 
  color: #0B0146;
}

.reservation-form p{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  padding: 11px 31px;
}

form h2 {
  color: #0B0146;
}

.form-p { 
  background-color: #FBFFA2;
  color: #0B0146;
  font-size: 10px;
  width: 100%;
  overflow: visible;
  padding: 0 !important;
}

.form-note {
  background-color: #0B0146;
  margin: 30px 0;
  text-align: center;
}

.form-note p {
  padding: 11.5px 30px;
  color: #76B0FF;
  font-size: 10px;
  font-weight: 700;
}

.form-submit-button {
  background-color:#006CFF ;
  color: #FFFFFF;
  font-size: 12px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  padding: 11px 50px;
  letter-spacing: 0;
  line-height: 14px;
  text-align: center;
  margin: 20px 0;
}

.submit-button { 
  /* background-color: #FBFFA2; */
  color: #0B0146;
  font-size: 10px;

}

.submit-button button {
  background-color:#006CFF ;
    color: #FFFFFF;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    padding: 11px 50px;
    letter-spacing: 0;
    line-height: 14px;
    text-align: center;
  }