.deals-header {
    background-image: url('https://res.cloudinary.com/kinkidy/image/upload/v1581348323/juyonna_ui/deals-header-image.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 36px 0 73px 0;  
}
  
.deals-header h2{
    margin:0 auto 12px auto;
    width: 80%;
    font-size: 24px;
    padding: 0 30px;
    letter-spacing: 0px;
    line-height: 28px;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

.deals-header p {
    font-size: 12px;
    width: 285px;
    margin: 0 auto 23px auto;
}

.deals-header button {
  letter-spacing: 0.3px;
  line-height: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 550;
}

  /* .deals-content .sub-heading {
    color: #0B0146;
    } */

    .header-content h2{
      margin-top: 20px;
      color:#0B0146;
      letter-spacing: 1.8px;
      line-height: 21px;
    }
  
    .header-content {
        background: #FFFFFF;
        color:#0B0146;
        padding-bottom: 20px;
    }
  
.header-content p {
    width: 75%;
    margin: 0 auto;
}

.deal {
    width: 286px; 
    margin: 0 auto;
    margin-bottom: 21px;
 }
  
  .deal {
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 0.7px solid rgba(143, 143, 143, 0.473);
  }
  
  .deal-details{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
  
  .book-deal {
    width: 25%;
    height: 36px;
    font-size: 12px;
    background-color: #009A18;
    color: #ffffff;
    border-radius: 8px;
    border: none;
    padding: 0;
    margin: 5px 0 0 0;
    text-align: center;
  }
  
  .deal p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 12px;
  }
  
  .deals {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(286px, 1fr));
    color: #0B0146 ;
    background-color: #ffffff;
    font-size: 12px;
    padding-bottom: 150px;
  }
  
  .deals-content .payment {
    margin-top: -100px;
  }