
  .hotels-header {
    background-image: url('https://res.cloudinary.com/kinkidy/image/upload/v1581348367/juyonna_ui/hotels-header-image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 36px 0 74px;
  }
  
.hotels-header h1{
    margin:0 auto 12px auto;
    width: 80%;
    font-size: 24px;
}

/* .hotels-header button {
    margin:23px auto 74px;
} */

.hotels-content {
    background: #ffffff;
    padding-bottom: 700px;
}

.hotels-content h2{
    color: #0B0146;
}

  .visa-content {
    background: #ffffff;
}

.hotels-content-header {
    background: none;
}

.hotels-content h2 {
    margin:0 auto;
    width: 75%;
    letter-spacing: 1.8px;
    line-height: 21px;
    font-size: 18px;
}

.hotels-content-header p {
    padding:5px;
}

.hotel-header h2{
    padding: 0 10px 20px 10px;
    margin:  24px auto;
    text-align: center;
    width: auto;  
}

.search-item{
    padding: 16px 56px ;
    font-size: 12px;
    border-radius: 12px;
    margin: 21px 37px;
    width: 286px;
 }

  .accommodation{
    width: 286px;
    border-bottom: 1px solid rgba(95, 95, 95, 0.534);
    margin:0  auto 21px ;
  }

.accommodation-details {
    margin: 12px auto 0;
    text-align: left;
    color: #0B0146;
}

.accommodation-type {
    font-size: 16px;
    letter-spacing: 1.6px;
    line-height: 19px;
    color: #0B0146;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.accommodation-available {
    color: #757575;
    font-weight: 700;
    line-height: 14px;
}

/* .accommodation-bottom-heading {
  margin-bottom: 40px;
} */

.accommodation-bottom-heading h2 {
  width: 65%;
  margin:  24px auto 0;
  letter-spacing: 1.8px;
  line-height: 21px;
  font-weight: 500;
  padding: 0 20px 5px;
}

.accommodation-bottom-heading p {
  color: #0B0146;
}


.hotels-footer {
    background-image:url('https://res.cloudinary.com/kinkidy/image/upload/v1581490116/juyonna_ui/testimoial-bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hotels-form {
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0px 0px 24px #00000029;
    margin: -700px auto 0 auto;
    width: 80%;
    padding-bottom: 60px;
    color: #0B0146;
  }
  

  label {
    color:#1D1D1D;
    font-size: 12px;
    margin: 0;
  }

form p,h2 { 
  color: #0B0146;
}

.form-submit-button {
  background-color:#006CFF ;
  color: #FFFFFF;
  font-size: 12px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  padding: 11px 50px 11px 50px;
  letter-spacing: 0;
  line-height: 14px;
  width: 80%;
  text-align: center;
}
